/installer/EnhancedDiscordUI/.vs
/installer/EnhancedDiscordUI/bin
/installer/EnhancedDiscordUI/obj
/installer_cmdline/EnhancedDiscord/.vs
/installer_cmdline/EnhancedDiscord/bin
/installer_cmdline/EnhancedDiscord/obj
